/*ローディング画面*/


body
{
    text-align: center;
    font-family: 'kiwi Maru', serif;
    padding: 2rem;
    transition: .5s;
}
.dark-theme
{
    background: #223a70;
    color: #ddd;
}

#btn
{
    background: #0bd;
    padding: 1rem;
        margin-bottom: 2rem;
    font-size: 1rem;
    color: fff;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}


/*コンテンツ部分*/


.img-container 
{
    width: auto;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}



